<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/flights/index"> ALL FLIGHTS</a>
        <a href="/flights/new">ADD FLIGHT</a>
      </nav>
    </header>
    <h1>Flight(s) Simulator!</h1>

    
  </body>
</html>
